# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual Environment
myenv/
env/
venv/

# Jupyter Notebook
*.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Text files (optional: skip if large & not needed)
*.txt

# Logs
*.log
